<span
  [ngClass]="{
    'inline-flex items-center rounded-badge border': variant() === 'default' || !variant,
    'inline-flex p-1  items-center rounded-full': variant() === 'pill',
    'flex items-center rounded-badge border': variant() === 'status',

    'px-2  text-xs': (size() === 'sm' || !size()) && variant() !== 'status',
    'px-2.5  text-xs': size() === 'md' && variant() !== 'status',
    'px-3  text-sm': size() === 'lg' && variant() !== 'status',
    'px-3 ': variant() === 'status',
    'bg-error text-error border-error': color() === 'red',
    'bg-warning text-warning border-warning': color() === 'amber',
    'bg-success text-success border-success': color() === 'emerald',
    'bg-info text-info border-info': color() === 'blue',
    'border bg-slate-100 dark:bg-slate-800/30 text-secondary border-strong': color() === 'slate',
    'bg-indigo-50 dark:bg-indigo-900/30 text-indigo-700 dark:text-indigo-300 border-indigo-200 dark:border-indigo-700': color() === 'indigo',
    'bg-white/20 text-white border-white/0': color() === 'white',
    'bg-transparent!important': transparent() === true,
    'space-x-2': variant() === 'status' && icon,
    'justify-between': variant() === 'status' && iconPosition() === 'right'
  }"
  class="font-medium rounded-card">

  @if (variant() === 'status') {
    @if (animated()) {
      <div
        class="w-1.5 h-1.5 mr-1 rounded-full animate-pulse"
        [ngClass]="{
          'bg-red-500 dark:bg-red-400': color() === 'red',
          'bg-amber-500 dark:bg-amber-400': color() === 'amber',
          'bg-emerald-500 dark:bg-emerald-400': color() === 'emerald',
          'bg-blue-500 dark:bg-blue-400': color() === 'blue',
          'bg-slate-500 dark:bg-slate-400': color() === 'slate',
          'bg-indigo-500 dark:bg-indigo-400': color() === 'indigo'
        }">
      </div>
    }
  }@else if(icon()){
<svg
       class="w-3 h-3"
        fill="currentColor"
        viewBox="0 0 20 20">
        <g [innerHTML]="getSafeIcon()"></g>
      </svg>
  }

  <span [ngClass]="{
    'text-xs':  size() === 'sm' || size() === 'md' || !size(),
    'text-sm': size() === 'lg',
    'font-bold': bold()===true,
  }">{{ label() }}</span>

  @if (icon() && iconPosition() === 'right' && variant() !== 'status') {
    <svg
      class="w-3 h-3 ml-1"
      fill="currentColor"
      viewBox="0 0 20 20">
      <g [innerHTML]="getSafeIcon()"></g>
    </svg>
  }
</span>
