<div class="dropdown-container relative inline-block w-full">
  <button
    type="button"
    [class]="buttonClasses()"
    [disabled]="isDisabled()"
    (click)="toggleDropdown()"
    [attr.aria-expanded]="isOpen()"
    [attr.aria-haspopup]="true"
  >
    <div class="flex items-center gap-2 flex-1">
      @if (icon()) {
        <div class="shrink-0 size-5" [innerHTML]="safeIcon()"></div>
      }
      <span class="text-left truncate">{{ displayLabel() }}</span>
    </div>

    <svg
      class="size-5 transition-transform duration-200 shrink-0"
      [class.rotate-180]="isOpen()"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      [innerHTML]="safeChevronIcon"
    ></svg>
  </button>

  @if (isOpen()) {
    <div [class]="dropdownClasses()">
      <div class="py-1">
        <ng-content></ng-content>
      </div>
    </div>
  }
</div>
